<div class="dish-card">
  <div class="dish-card-header">
    {{title}}
  </div>
  <div class="card-body">
    <p>
      Content:
      {{post_content}}
    </p>
    <p>
      user:
      {{user_name}}
    </p>
    {{created_on}}
     
  </div>
</div>

