<div class="dish-card">
  <a href="/post/{{id}}">  
  <div class="dish-card-header">
    {{title}}
  </div>
  <div class="card-body">
    <p>
      Content:
      {{post_content}}
    </p>
    <p>
      user:
      {{user.username}}
    </p>
    
     
  </div>
  </a>
</div>

