<head>
  <meta charset="UTF-8">
  <title>Phils Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
 
    
 
  
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        Phil's Tech Blog ⌨️
    </h1>
     <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    {{#if logged_in}}
    <button class="no-button" id="logout">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
   {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </body>

</html>