<div class="menu-container">
  <div class="card-header col-md-12 text-center">
    <h2>
     Posts
    </h2>
    <p>Click on a post title to add a comment!</p>
  </div>
  {{#each posts as |post|}}
 {{> post}}
  {{/each}}